@charset "UTF-8";

body {
  background-color: rgb(173, 245, 173);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(8, 80, 8);
}

h1:hover {
  cursor: pointer;
}

h1#principal {
  text-align: center;
  background-color: rgb(8, 80, 8);
  color: white;
}

h2 {
  color: rgb(52, 210, 52);
}

.basico {
  color: rgb(52, 210, 52);
  font-weight: bold;
}

.intermediario {
  color: rgba(255, 0, 0, 0.615);
}

.avancado {
  color: rgb(40, 40, 120);
}

label {
  background-color: rgb(74, 74, 154);
  border: 5px;
  border: 1px solid black;
  text-align: center;
  height: 60px;
  width: 60px;
}

label:hover {
  background-color: rgba(148, 53, 53, 0.615);
  cursor: pointer;
  border: 2px solid black;
  text-align: center;
  height: 65px;
  width: 65px;
  color: brown;
}